<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p { font-size: 14px; line-height: 17px; } a { font-size: 14px;}
  </style>
</head>
<body>
 <h2>Create Order Successfully</h2>
<h3>Hello {{username}}, below are your order details</h3>
 <ul>
   <li><strong>Recipient Name:</strong> {{username}}</li>
   <li><strong>Total Amount:</strong> ${{totalAmount}}</li>
 </ul>

 <h2>Ordered Computers</h2>
<!-- <ul>-->
<!--   {{#each orderedComputers}}-->
<!--     <li>-->
<!--       <strong>Computer Name:</strong> {{this.laptop.name}}<br>-->
<!--       <strong>Quantity:</strong> {{this.quantity}}-->
<!--     </li>-->
<!--   {{/each}}-->
<!-- </ul>-->

</body>
</html>